<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.serviceModel>
    <!--取消服务器凭据认证-->
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--取消服务器凭据认证-->
    <client>
      <endpoint address="net.tcp://192.168.1.32:8209/theme" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Theme.IThemeSkin"/>
      <endpoint address="net.tcp://192.168.1.32:8209/seach" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Seach.ISeachInfo"/>
      <endpoint address="net.tcp://192.168.1.32:8209/navigation" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.INavigation"/>
      <endpoint address="net.tcp://192.168.1.32:8209/area" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Theme.IArea"/>
      <endpoint address="net.tcp://192.168.1.32:8209/siteinfo" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.ISiteInfo"/>
      <endpoint address="net.tcp://192.168.1.32:8209/themepackage" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Theme.IThemePackage"/>
      <endpoint address="net.tcp://192.168.1.32:8209/albuminfo" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.IAlbumInfo"/>
      <endpoint address="net.tcp://192.168.1.32:8209/rmsconfigure" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.IRmsConfigure"/>
      <endpoint address="net.tcp://192.168.1.32:8209/article" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.IArticle"/>
      <endpoint address="net.tcp://192.168.1.32:8209/part" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.IPart"/>
      <endpoint address="net.tcp://192.168.1.32:8209/userinfo" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.PlatUsers.IUserInfo"/>
      <endpoint address="net.tcp://192.168.1.32:8209/element" binding="netTcpBinding" bindingConfiguration="" contract="ShangYe.Service.RMS.Rms.IElement"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
    <pages validateRequest="false"/>
    <!--<customErrors mode="On" defaultRedirect="Error.aspx">-->
    <!--</customErrors>-->
    <httpRuntime executionTimeout="500" requestValidationMode="2.0" maxRequestLength="10240000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <httpHandlers>
      <add path="area.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.AreaInfoHandler"/>
      <add path="list.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.ListHandler"/>
      <add path="detail.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.DetailHandler"/>
      <add path="user.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.UserHandler"/>
      <add path="search.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.SearchHandler"/>
      <add path="theme.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.ThemeHandler"/>
      <add path="site.ashx" verb="POST,GET" type="Shangye.ExtendLibrary.Handler.SiteHandler"/>
    </httpHandlers>
  </system.web>
</configuration>
